@font-face {
     font-family: 'OSPDIN';
     src: url('fonts/OSP-DIN-webfont.eot');
     src: url('fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/OSP-DIN-webfont.woff') format('woff'),
          url('fonts/OSP-DIN-webfont.ttf') format('truetype'),
          url('fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
     font-weight: normal;
     font-style: normal;
 }


html {
  background-color: #dadada;
}

body {
  font-family: OSPDIN, sans-serif;
  color: #93cfd6;
  font-size: 24px;
  letter-spacing: -0.05em;
}

.schedule div {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255,255,255,0.6);
  padding: 20px;
}

.schedule div > * {
  margin: 0;
  padding: 0;
}

.schedule {
  color: #000;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.schedule a {
  color: rgba(0,0,0,0.7);
}

.schedule .timing {
  font-size: 1.2em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.schedule .room, .schedule time { color: #AE0E5B; }

.schedule .twitter {
  margin-left: 0.1em;
  font-size: 60%;
  letter-spacing: -0.1em;
  font-family: Monaco, "DejaVu Sans Mono", "Courier New", monospace;
  color: #494949;
}

.schedule h3 {
  padding-top: 0px;
  font-size: 2em;
  line-height: 0.9em;
  clear: right;
  color: #1786A2;
}

.schedule h2 {
  line-height: 1.3em;
  font-size: 1.5em;
  color: #AE0E5B;
}

.schedule > * {
  text-shadow: 1px 1px 0 #ddd;
}

.schedule img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  z-index: 0;
  width: 100%;
  max-width: 100%;
}

/* twitter colours */
#tweets a { color: rgba(255,255,255,0.7); }
.hentry .meta, #tweets .meta a { color: #99CFD7; }
#tweets li { background: rgba(255, 255, 255, 0.2); }
.tweet { color: #fff; }

#moebius, #blin {
  background-image: url(images/speakers/default.jpg);
}

#moebius[data-time="0930"] {
  background-image: url(images/speakers/raphael-yharrassarry.jpg);
}
#moebius[data-time="1030"] {
  background-image: url(images/speakers/vincent-de-oliveira.jpg);
}
#moebius[data-time="1045"] {
  background-image: url(images/speakers/olivier-de-villardi.jpg);
}
#moebius[data-time="1105"] {
  background-image: url(images/sample/break1.jpg);
}
#moebius[data-time="1120"] {
  background-image: url(images/speakers/lawson-groves.jpg);
}
#moebius[data-time="1230"] {
  background-image: url(images/speakers/cyril-balit.jpg);
}
#moebius[data-time="1250"] {
  background-image: url(images/lunch-1.jpg);
}
#moebius[data-time="1410"] {
  background-image: url(images/speakers/marko-dugonjic.jpg);
}
#moebius[data-time="1510"] {
  background-image: url(images/speakers/vitaly-friedman.jpg);
}
#moebius[data-time="1605"] {
  background-image: url(images/break-1.jpg);
}
#moebius[data-time="1630"] {
  background-image: url(images/speakers/bastien-jaillot.jpg);
}
#moebius[data-time="1655"] {
  background-image: url(images/speakers/billy-gregory.jpg);
}

#blin[data-time="0930"] {
  background-image: url(images/speakers/elie-nicolas.jpg);
}
#blin[data-time="1030"] {
  background-image: url(images/speakers/christophe-porteneuve.jpg);
}
#blin[data-time="1105"] {
  background-image: url(images/sample/break1.jpg);
}
#blin[data-time="1120"] {
  background-image: url(images/speakers/olivia-lor.jpg);
}
#blin[data-time="1230"] {
  background-image: url(images/speakers/goulven-champenois.jpg);
}
#blin[data-time="1250"] {
  background-image: url(images/lunch-2.jpg);
}
#blin[data-time="1410"] {
  background-image: url(images/speakers/julien-oger.jpg);
}
#blin[data-time="1510"] {
  background-image: url(images/speakers/remi-parmentier.jpg);
}
#blin[data-time="1605"] {
  background-image: url(images/break-2.jpg);
}
#blin[data-time="1630"] {
  background-image: url(images/speakers/eric-nouri.jpg);
}
#blin[data-time="1655"] {
  background-image: url(images/speakers/jean-loup-yu.jpg);
}

#tweets { font-family: sans-serif; }
#tweets li { background: white; }
.tweet { color: #1786A2; }
#tweets a { color: #1C9EC2; }
#tweets strong a { color: #AE0E5B; }

#notices > div {
  background-color: #FFFFFF;
  color: #1C9EC2;
  font-size: 2em;
}

#sponsor-list p + p { margin-top: 1em; }

#di-op { margin: 1em 0; }

#di-details { margin-left: 1em; margin-right: 1em; }

#clock {
  /* display: none; */
  position: fixed;
  z-index: 9999;
  width: auto;
  height: auto;
  right: 10px;
  bottom: 10px;
  font-size: 2em;
  border: none;
  border-radius: 0.4em;
  background: #13c2f8;
  color: white;
  opacity: 0.5;
}
#clock:hover, #clock:focus {
  background: #0fabdc; cursor: pointer;
}
