<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Conference Twitter Wall</title>
<link rel="stylesheet" type="text/css" href="app/screen.css">

<!-- make your customisations to the twitter wall using the custom.css -->
<link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body class="hflex-wrapper">
  <div class="vflex-wrapper50">
    <div id="schedule">
      <!-- style the schedule as you please -->
      <div id="iErgo" data-time="0930">
        <p>À venir : 9:30 en salle Moebius</p>
        <h2>Raphaël Yharrassarry <a href="http://twitter.com/iErgo">@iErgo</a></h2>
        <h3>Science-fiction &amp; interaction !</h3>
      </div>
      <div id="iamvdo" data-time="1035">
        <p>À venir : 10:35 en salle Moebius</p>
        <h2>Vincent de Oliveira <a href="http://twitter.com/iamvdo">@iamvdo</a></h2>
        <h3>Les masques CSS : vers de nouveaux usages dans le webdesign</h3>
      </div>
      <div id="odevillardi" data-time="1050">
        <p>À venir : 10:50 en salle Moebius</p>
        <h2>Olivier de Villardi <a href="http://twitter.com/odevillardi">@odevillardi</a></h2>
        <h3>Le web fait pousser mes tomates</h3>
      </div>
      <div id="morning-break" data-time="1105">
        <p>À venir : 11:05</p>
        <h3>Pause</h3>
        <p>On reprend dans 20 minutes</p>
      </div>
      <div id="brucel-karlgroves" data-time="1125">
        <p>À venir : 11:25 en salle Moebius</p>
        <h2>Bruce Lawson <a href="http://twitter.com/brucel">@brucel</a> &amp; Karl Groves <a href="http://twitter.com/karlgroves">@karlgroves</a></h2>
        <h3>Web Components, the right way</h3>
      </div>
      <div id="cbalit" data-time="1230">
        <p>À venir : 12:30 en salle Moebius</p>
        <h2>Cyril Balit <a href="http://twitter.com/cbalit">@cbalit</a></h2>
        <h3>Présentation des outils de tests cross browser</h3>
      </div>
      <div id="lunch" data-time="1250">
        <p>À venir : 12:50</p>
        <h3>Déjeuner</h3>
        <p>On reprend à 14:10</p>
      </div>
      <div id="markodugonjic" data-time="1410">
        <p>À venir : 14:10 en salle Moebius</p>
        <h2>Marko Dugonjić <a href="http://twitter.com/markodugonjic">@markodugonjic</a></h2>
        <h3>Responsive Web Typography</h3>
      </div>
      <div id="hteumeuleu" data-time="1515">
        <p>À venir : 15:15 en salle Moebius</p>
        <h2>Rémi Parmentier <a href="http://twitter.com/hteumeuleu">@hteumeuleu</a></h2>
        <h3>Sortons de l’enfer de l’intégration des e-mails</h3>
      </div>
      <div id="afternoon-break" data-time="1605">
        <p>À venir : 16:05</p>
        <h3>Pause</h3>
        <p>On reprend dans 20 minutes</p>
      </div>
      <div id="bastnic" data-time="1625">
        <p>À venir : 16:25 en salle Moebius</p>
        <h2>Bastien Jaillot <a href="http://twitter.com/bastnic">@bastnic</a></h2>
        <h3>Profession : pompier</h3>
      </div>
      <div id="thebillygregory" data-time="1700">
        <p>À venir : 17:00 en salle Moebius</p>
        <h2>Billy Gregory <a href="http://twitter.com/thebillygregory">@thebillygregory</a></h2>
        <h3>Things I wish I knew when I started in Digital Accessibility</h3>
      </div>
    </div>
    <div id="notices">
      <!-- here you create divs that are shown on a rotation, add fullscreen class, and customise the hold time with data-hold-time="3s" -->
      <!--
      <div id="notice1">
        <img src="images/sample/sponsors.png">
      </div>
      <div id="notice2">
        Panel 2
      </div>
      <div id="notice3" data-hold-time="3s" class="fullscreen">
        Panel 3
      </div>
    -->
    </div>
  </div>
  <div id="twitterwall">
    <ul id="tweets"></ul>
  </div>

  <script type="text/html" id="tweet_template">
    <li id="<%=id%>">
      <div class="tweet">
        <div class="vcard">
          <a href="http://twitter.com/<%=screen_name%>" class="url"><img style="height: 48px; width: 48px;" alt="@<%=screen_name%>" class="photo fn" height="48" src="<%=profile_image_url%>" width="48" /></a>
        </div>
        <div class="hentry">
          <strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>"><%=screen_name%></a></strong>
          <span class="entry-content"><%=tweet%></span>
          <span class="meta entry-meta"><a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark"><span class="published" title="<%=created_at%>"><%=nice_date%></span></a></span>
        </div>
        <% if (embeds.length) for (var i = 0; i < embeds.length; i++) { %>
        <%=embeds[i]%>
        <% } %>
      </div>
    </li>
  </script>


  <script src="config.js"></script>
  <script src="app/js/twitterlib.js"></script>
  <script src="app/js/jquery.min.js"></script>
  <script src="app/js/app.js"></script>
</body>
</html>
