<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title>Paris Web 2014 Twitter Wall</title>
  <link rel="stylesheet" type="text/css" href="app/screen.css">
  <link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body id="friday" class="hflex-wrapper">
  <div id="schedules" class="mainColumn">
    <div id="moebius" class="schedule">
      <div id="julien-anthony" data-time="0910">
        <p class="timing">À <time>9:10</time> en salle <span class="room">Moebius</span></p>
        <h2>Julien Wajsberg <a class="twitter" href="http://twitter.com/jwajsberg">@jwajsberg</a> &amp;<br/>Anthony Ricaud <a href="http://twitter.com/rik24d" class="twitter">@rik24d</a></h2>
        <h3>Code de qualité : ce qu’il faut savoir</h3>
      </div>
      <div id="tut_tuuut" data-time="1010">
        <p>À <time>10:10</time> en salle <span class="room">Moebius</span></p>
        <h2>Agnès Haasser <a class="twitter" href="http://twitter.com/tut_tuuut">@tut_tuuut</a></h2>
        <h3>100% de revue de code</h3>
      </div>
      <div id="nsteinmetz" data-time="1025">
        <p>À <time>10:25</time> en salle <span class="room">Moebius</span></p>
        <h2>Nicolas Steinmetz <a class="twitter" href="http://twitter.com/FIXME">@nsteinmetz</a></h2>
        <h3>Le Reverse Proxy, ce majordome à votre service</h3>
      </div>
      <div id="morning-break" data-time="1045">
        <p>À <time>10:45</time></p>
        <h3>Pause</h3>
        <p>On reprend dans 25 minutes</p>
      </div>
      <div id="dennisl" data-time="1110">
        <p>À <time>11:10</time> en salle <span class="room">Moebius</span></p>
        <h2>Dennis Lembrée <a class="twitter" href="http://twitter.com/FIXME">@dennisl</a></h2>
        <h3>Exploring PayPal’s Bootstrap Accessibility Plugin</h3>
      </div>
      <div id="notabene" data-time="1210">
        <p>À <time>12:10</time> en salle <span class="room">Moebius</span></p>
        <h2>Stéphane Deschamps <a class="twitter" href="http://twitter.com/FIXME">@notabene</a></h2>
        <h3>Le burnout et comment on l’évite</h3>
      </div>
      <div id="oxymore" data-time="1225">
        <p>À <time>12:25</time> en salle <span class="room">Moebius</span></p>
        <h2>Jean-Philippe Simonnet <a class="twitter" href="http://twitter.com/FIXME">@oxymore</a></h2>
        <h3>Petits secrets entre amis : les acteurs du web doivent-ils prêter serment ?</h3>
      </div>
      <div id="lunch" data-time="1240">
        <p>À <time>12:40</time></p>
        <h3>Déjeuner</h3>
        <p>On reprend à 14:00</p>
      </div>
      <div id="bluesmoon" data-time="1400">
        <p>À <time>14:00</time> en salle <span class="room">Moebius</span></p>
        <h2>Philip Tellis <a class="twitter" href="http://twitter.com/FIXME">@bluesmoon</a></h2>
        <h3>Frontend Performance: Beginner to Expert to Crazy Person</h3>
      </div>
      <div id="JeremiePat-main" data-time="1500">
        <p>À <time>15:00</time> en salle <span class="room">Moebius</span></p>
        <h2>Jérémie Patonnier <a href="http://twitter.com/JeremiePat" class="twitter">@JeremiePat</a></h2>
        <h3>Mes projets web se passent toujours bien !</h3>
      </div>
      <div id="afternoon-break" data-time="1555">
        <p>À <time>15:55</time></p>
        <h3>Pause</h3>
        <p>On reprend dans 25 minutes</p>
      </div>
      <div id="Varouschka" data-time="1620">
        <p>À <time>16:20</time> en salle <span class="room">Moebius</span></p>
        <h2>Vanessa Ilmany <a class="twitter" href="http://twitter.com/FIXME">@Varouschka</a></h2>
        <h3>Comment tirer le meilleur parti de ses erreurs ?</h3>
      </div>
      <div id="biou" data-time="1635">
        <p>À <time>16:35</time> en salle <span class="room">Moebius</span></p>
        <h2>Alain Vagner <a class="twitter" href="http://twitter.com/FIXME">@biou</a></h2>
        <h3>Le futur de l’industrialisation du web : l’ingénierie dirigée par les modèles</h3>
      </div>
      <div id="fixme" data-time="1700">
        <p>À <time>17:00</time> en salle <span class="room">Moebius</span></p>
        <h3>Lightning Talks</h3>
      </div>
      <div data-time="1750">
        <h2>À demain aux ateliers ?</h2>
        <h3>L’accueil ouvrira à 8h30, premiers ateliers à 9h30.</h3>
      </div>
    </div>
    <div id="blin" class="schedule">
      <div id="leonie" data-time="0910">
        <p class="timing">À <time>9:10</time> en salle <span class="room">Blin</span></p>
        <h2> Léonie Marin </h2>
        <h3>Convivialité des interfaces des réseaux sociaux et spécificités culturelles</h3>
      </div>
      <div id="JeremiePat-sponsor" data-time="1010">
        <p>À <time>10:10</time> en salle <span class="room">Blin</span></p>
        <h2>Jérémie Patonnier <a class="twitter" href="http://twitter.com/JeremiePat">@JeremiePat</a></h2>
        <h3>La « logiciellisation » du web</h3>
      </div>
      <div id="morning-break" data-time="1045">
        <p>À <time>10:45</time></p>
        <h3>Pause</h3>
        <p>On reprend dans 25 minutes</p>
      </div>
      <div id="hsablonniere" data-time="1110">
        <p>À <time>11:10</time> en salle <span class="room">Blin</span></p>
        <h2>Hubert Sablonnière <a class="twitter" href="http://twitter.com/hsablonniere">@hsablonniere</a></h2>
        <h3>Les recettes du web multi-écran</h3>
      </div>
      <div id="davrous" data-time="1210">
        <p>À <time>12:10</time> en salle <span class="room">Blin</span></p>
        <h2>David Rousset <a class="twitter" href="http://twitter.com/davrous">@davrous</a></h2>
        <h3>Introduction à TypeScript et retour d’expérience sur le portage de BabylonJS</h3>
      </div>
      <div id="lunch" data-time="1240">
        <p>À <time>12:40</time></p>
        <h3>Déjeuner</h3>
        <p>On reprend à 14:00</p>
      </div>
      <div id="klohFR" data-time="1400">
        <p>À <time>14:00</time> en salle <span class="room">Blin</span></p>
        <h2>Luc Poupard <a class="twitter" href="http://twitter.com/FIXME">@klohFR</a></h2>
        <h3>Internet et les TIC, pas très écologiques ?</h3>
      </div>
      <div id="fastclemmy" data-time="1500">
        <p>À <time>15:00</time> en salle <span class="room">Blin</span></p>
        <h2>Clément Hardoüin <a class="twitter" href="http://twitter.com/FIXME">@fastclemmy</a></h2>
        <h3>Dark patterns, la contre-attaque du pire</h3>
      </div>
      <div id="afternoon-break" data-time="1555">
        <p>À <time>15:55</time></p>
        <h3>Pause</h3>
        <p>On reprend dans 25 minutes</p>
      </div>
      <div id="nicolaselazzi" data-time="1620">
        <p>À <time>16:20</time> en salle <span class="room">Blin</span></p>
        <h2>Nicolas El Azzi <a class="twitter" href="http://twitter.com/FIXME">@nicolaselazzi</a></h2>
        <h3>Comment optimiser le checkout sur mobile ?</h3>
      </div>
      <div id="vdesdoigts" data-time="1635">
        <p>À <time>16:35</time> en salle <span class="room">Blin</span></p>
        <h2>Vincent Desdoigts <a class="twitter" href="http://twitter.com/vdesdoigts">@vdesdoigts</a></h2>
        <h3>Le design d’interface et la théorie de la Gestalt</h3>
      </div>
      <div data-time="1700">
        <p>À <time>17:00</time> en salle <span class="room">Blin</span></p>
        <h2>Y’a personne</h2>
        <p>car tout le monde est aux Lightning Talks :-)</p>
      </div>
      <div data-time="1750">
        <h2>Sinon à l’année prochaine !</h2>
        <h3>Ce sera les 10 ans, ça va être hénaurme<sup style="font-size: 50%">™</sup>.</h3>
      </div>
    </div>
  </div>
  <div id="twitterwall" class="mainColumn">
    <ul id="tweets"></ul>

    <div id="notices">
      <div id="sponsor-list">
        <div>
          <p><img src="images/sponsor-di.png" alt="Delicious Insights" /></p>
          <p><img src="images/sponsor-clever.png" alt="Clever Age"></p>
          <p><img src="images/sponsor-ms.png" alt="Microsoft"></p>
        </div>
      </div>
      <div id="premium-di">
        <div>
          <p><img src="images/sponsor-di.png" alt="Delicious Insights" /></p>
          <p style="font-size: 1.5em">
            &hearts;
            <img src="images/sponsor-di-pw.png" alt="Paris Web" style="position: relative; top: 0.3em" />
          </p>
          <p id="di-op"><strong>&minus;15%</strong> de réduction sur <strong>toutes nos formations</strong> d’ici le 31/01/2015</p>
          <table id="di-details">
            <tbody>
              <tr>
                <td>Tous les détails sur http://bit.ly/pw14love</td>
                <td><img src="images/sponsor-di-qrcode.png"/></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="premium-clever">
        <p>FIXME Annonce Clever</p>
      </div>
      <div id="premium-ms">
        <p>FIXME Annonce MS</p>
      </div>
    </div>
  </div>
  <a id="clock"></a>

  <script type="text/html" id="tweet_template">
    <li id="<%=id%>">
      <div class="tweet">
        <div class="vcard">
          <a href="http://twitter.com/<%=screen_name%>" class="url"><img style="height: 48px; width: 48px;" alt="@<%=screen_name%>" class="photo fn" height="48" src="<%=profile_image_url%>" width="48" /></a>
        </div>
        <div class="hentry">
          <strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>"><%=screen_name%></a></strong>
          <span class="entry-content"><%=tweet%></span>
          <span class="meta entry-meta"><a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark"><span class="published" title="<%=created_at%>"><%=nice_date%></span></a></span>
        </div>
        <% if (embeds.length) for (var i = 0; i < embeds.length; i++) { %>
        <%=embeds[i]%>
        <% } %>
      </div>
    </li>
  </script>


  <script src="config.js"></script>
  <script src="app/js/twitterlib.js"></script>
  <script src="app/js/jquery.min.js"></script>
  <script src="app/js/moment_with_fr.js"></script>
  <script src="app/js/app.js"></script>
</body>
</html>
